@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;800&display=swap');

  .home-page {
    min-height: 100vh;
    display: flex;
    font-family: 'Barlow Condensed', sans-serif; 
    font-weight: 600;
    font-size: 32px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #E2E2E2;
    text-align: center;
  }

  .video-container {
    background: black; 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }


  .title {
    font-family: 'Barlow Condensed', sans-serif; 
    font-weight: bold; 
    font-size: 96px;
    background: linear-gradient(to bottom, #FFFFFF, #999999); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; 
  }

  .content p {  
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); 
  }

  .menu-item-hovered {
      cursor: pointer;
      background-color: rgba(217, 217, 217, 0.33);
      border-radius: 5px;
      color: #FFFFFF; 
  }
  
  .menu-item {
    margin: 10px;
    padding: 10px;
  }

  .background-image {
    animation: panEffect 20s ease-in-out infinite; 
    filter: blur(2px);
  }
  
  .video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
  }
  
  .fadeIn {
    animation: fadeEffect 1s;
  }
  
  @keyframes fadeEffect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes panEffect {
    0%, 100% {
      transform: translateX(0) scale(1.3);
    }
    50% {
      transform: translateX(-9%) scale(1.3);
    }
  }
  
  .algorithm-card {
    margin-top: 30px;
    position: relative;
    width: 25vw; 
    height: 23vw;  
    margin-right: 8px; 
    overflow: hidden;
    cursor: pointer;
  }
  
  .algorithm-card img {
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
  }
  
  .algorithm-card:hover img {
    filter: none; 
  }
  
  .title-bar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #282828;  
    color: white;
    text-align: center;
    font-size: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  
    backdrop-filter: blur(4px);
    transition: opacity 0.3s ease;
    opacity: 0; 
  }
  
  .algorithm-card:hover .overlay {
    opacity: 0;
  }

.expanding-line {
  height: 2px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #FCFCFC, rgba(255, 255, 255, 0));
  margin: auto;
  position: relative;
  animation: expandLine 0.5s forwards;
}

.expanding-line.full {
  width: 0;
}

.expanding-line.half {
  width: 0;
}

@keyframes expandLine {
  0% {
    width: 0;
    margin-top: 0;
  }
  100% {
    width: 100%;
    margin-top: 30px;
  }
}

.expanding-line.half {
  animation: expandLineHalf 0.5s forwards;
}

@keyframes expandLineHalf {
  0% {
    width: 0;
    margin-top: 0;
  }
  100% {
    width: 50%;
    margin-top: 30px;
  }
}